/*
 * @author: Caesar
 * @module:
 * @depend:
 *
 */

/* Modules */

// Buttons
@import "buttons/buttons-core";
@import "buttons/buttons";

// Forms
@import "forms/forms";
@import "forms/forms-respond";

// Grids
@import "grids/grids-core";
@import "grids/grids";
@import "grids/grids-responsive";
@import "grids/grids-units";

/*

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="../../../../build/grids-responsive-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../../../../build/grids-responsive.css">
    <!--<![endif]-->

 */

// Menus
@import "menus/menus-core";
@import "menus/menus-dropdown";
@import "menus/menus-horizontal";
@import "menus/menus-scrollable";
@import "menus/menus-skin";

// Tables
@import "tables/tables";


.custom-fonts {
  // font-family: 'Open Sans', sans-serif;
}

.content {
  text-align: center;
  border: 1px solid #999;
  margin: 10px;
  padding: 5px;
  font-family: "Lucida Console", Monaco, monospace;
}

.serif,
.serif .content {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.monospace,
.monospace .content {
  font-family: "Courier New", Courier, monospace;
}

