/*
 * @author: Caesar
 * @module:
 * @depend:
 *
 */

/*csslint box-model:false*/

// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {
  height: 38px;
  padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff;
  border: 1px solid lighten($border-color, 8.8%);
  border-radius: $global-radius;
  box-shadow: none;
  box-sizing: border-box;
}

textarea:focus,
select:focus {
  border: 1px solid $primary-color;
  outline: 0;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border: 1px solid $primary-color;
    outline: 0;
  }
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label,
legend {
  display: inline-block;
  // *display: inline;
  margin-bottom: .5rem;
  font-weight: 600;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

fieldset {
  padding: 0;
  border-width: 0;
}

/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.form {

  text-align: left;

  fieldset {
    font-size: 1rem;
    // text-align: center;
    text-align: left;
  }

  label {
    text-align: left;
  }

}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
  padding: 0.5rem 0.6rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form input:not([type]) {
  padding: 0.5rem 0.6rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.form input[type="color"] {
  padding: 0.2rem 0.5rem;
}


.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA;
}

.form input[type="file"]:focus,
.form input[type="radio"]:focus,
.form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}
.form .checkbox,
.form .radio {
  margin: 0.5rem 0;
  display: block;
}

.form input[type="text"][disabled],
.form input[type="password"][disabled],
.form input[type="email"][disabled],
.form input[type="url"][disabled],
.form input[type="date"][disabled],
.form input[type="month"][disabled],
.form input[type="time"][disabled],
.form input[type="datetime"][disabled],
.form input[type="datetime-local"][disabled],
.form input[type="week"][disabled],
.form input[type="number"][disabled],
.form input[type="search"][disabled],
.form input[type="tel"][disabled],
.form input[type="color"][disabled],
.form select[disabled],
.form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.form input[readonly],
.form select[readonly],
.form textarea[readonly] {
  background-color: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}

.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
.form input[type="file"]:focus:invalid:focus,
.form input[type="radio"]:focus:invalid:focus,
.form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25rem;
  border: 1px solid #ccc;
  background-color: white;
}
.form select[multiple] {
  height: auto;
}
.form label {
  margin: 0.5rem 0 0.2rem;
}
.form fieldset {
  margin: 0;
  padding: 0.35rem 0 0.75rem;
  border: 0;
}
.form legend {
  display: block;
  width: 100%;
  padding: 0.3rem 0;
  margin-bottom: 0.3rem;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block;
  margin: 0.25rem 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-stacked input:not([type]) {
  display: block;
  margin: 0.25rem 0;
}
.form-aligned input,
.form-aligned textarea,
.form-aligned select,
/* NOTE: help-inline is deprecated. Use .form-message-inline instead. */
.form-aligned .help-inline,
.form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.form-aligned .control-group {
  margin-bottom: 0.5rem;
}
.form-aligned .control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10rem;
  margin: 0 1rem 0 0;
}
.form-aligned .controls {
  margin: 1.5rem 0 0 11em;
}

/* Rounded Inputs */
.form input.input-rounded,
.form .input-rounded {
  border-radius: 2rem;
  // padding: 0.5rem 1rem;
}

.form textarea.input-rounded {
  padding: 0.5rem 1rem;
}

/* Grouped Inputs */
.form .group fieldset {
  margin-bottom: 1rem;
}
.form .group input,
.form .group textarea {
  display: block;
  padding: 1rem;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.form .group input:focus,
.form .group textarea:focus {
  z-index: 3;
}
.form .group input:first-child,
.form .group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.form .group input:first-child:last-child,
.form .group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
.form .group input:last-child,
.form .group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.form .group button {
  margin: 0.35rem 0;
}

.form .input-1 {
  width: 100%;
}
.form .input-3-4 {
  width: 75%;
}
.form .input-2-3 {
  width: 66%;
}
.form .input-1-2 {
  width: 50%;
}
.form .input-1-3 {
  width: 33%;
}
.form .input-1-4 {
  width: 25%;
}

/* Inline help for forms */
/* NOTE: help-inline is deprecated. Use .form-message-inline instead. */
.form .help-inline,
.form-message-inline {
  display: inline-block;
  padding-left: 0.3rem;
  color: #666;
  vertical-align: middle;
  font-size: 0.875rem;
}

/* Block help for forms */
.form-message {
  display: block;
  color: #666;
  font-size: 0.875rem;
}
