---
layout: compress
---

{% include head.html %}
<body>
<script type="text/javascript">
;(function(){
    var calc = function () {
        var docElement = document.documentElement;
        var clientWidthValue = docElement.clientWidth > 480 ? 480 : docElement.clientWidth;
        docElement.style.fontSize = 10*(clientWidthValue/320) + 'px';
    }
    calc();
    window.addEventListener('resize',calc);
})();
</script>
<script>
//console.log(document.body.className);
//alert(navigator.userAgent);
;(function(ua, w, d, undefined) {
    var _ua = ua.toLowerCase();
    //alert(_ua);
    if ( (/iphone|ipod|ipad/).test(_ua) ) {
        d.body.className = 'apple mobile';
        return;
    }
    else if ( (/android|blackberry|opera mini|iemobile/).test(_ua) ) {
        d.body.className = 'android mobile';
        if ( _ua.indexOf('micromessenger') > -1 ) {
            //alert('wechat');
            d.body.className = 'wechat mobile';
        }
        return;
    }
    else if ( (/mobile/).test(_ua) ) {
        d.body.className = 'mobile';
        if ( (_ua.indexOf('micromessenger') > -1) || (_ua.indexOf('baidu') > -1) ) {
            //alert('wechat');
            d.body.className = 'wechat mobile';
        }
        return;
    }
    else {
        d.body.className = 'pc';
        if ( _ua.indexOf('micromessenger') > -1 ) {
            //alert('wechat');
            d.body.className = 'wechat mobile';
        }
        return;
    }

})(navigator.userAgent || navigator.vendor || window.opera, window, document);
//console.log(document.body.className);
//alert(document.body.className);
</script>
<div id="container" class="layout wrapper">
    {% include sidebar.html %}
    <div class="main">
        {{content}}
    </div>
</div>

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
